@import '~bootstrap/dist/css/bootstrap.min.css';

h1,
h2 {
  font-family: Lato;
}
#bdy {
  width: 15rem;
  height: 25rem;
  background-color: yellow;
}

#bdy div {
  width: 5rem;
  background-color: rgb(220, 220, 233);
}
#inputDiv, #inputEditDiv {
  width: 30rem;
  padding: 4px;
}

#inputDiv .item {
  background-color: yellow;
  padding: 4px;
  border-radius: 50px;
  margin-left: 4px;
}
#inputDiv span.item::after {
  content: 'x';
  padding-left: 5px;
}
