@import '~bootstrap/dist/css/bootstrap.min.css';

h1,
h2 {
  font-family: Lato;
}
#bdy {
  width: 15rem;
  height: 25rem;
  background-color: yellow;
}

#bdy div {
  width: 5rem;
  background-color: rgb(220, 220, 233);
}
#inputDiv {
  height: 2rem;
  width: 2rem;
  background-color: greenyellow;
}
